<!DOCTYPE html>

<html lang="en" class="Loding">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta name="description" content="Convex admin is super flexible, powerful, clean &amp; modern responsive bootstrap 4 admin template with unlimited possibilities.">
    <meta name="keywords" content="admin template, Convex admin template, dashboard template, flat admin template, responsive admin template, web app">
    <meta name="author" content="PIXINVENT">
    <link rel="shortcut icon" type="image/x-icon" href="https://pixinvent.com/demo/convex-bootstrap-admin-dashboard-template/app-assets/img/ico/favicon.ico">
    <link rel="shortcut icon" type="image/png" href="../wwwroot/img/ico/favicon-32.png">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-touch-fullscreen" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="default">
    <link href="https://fonts.googleapis.com/css?family=Rubik:300,400,500,700,900%7CMontserrat:300,400,500,600,700,800,900" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="~/fonts/feather/style.min.css">
    <link rel="stylesheet" type="text/css" href="~/fonts/simple-line-icons/style.css">
    <link rel="stylesheet" type="text/css" href="~/fonts/fontawesome-free-5.12.1-web/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="~/fonts/fontawesome-free-5.12.1-web/css/fontawesome.min.css">
    <link rel="stylesheet" type="text/css" href="~/vendors/css/perfect-scrollbar.min.css">
    <link rel="stylesheet" type="text/css" href="~/vendors/css/prism.min.css">
    <link rel="stylesheet" type="text/css" href="~/css/app.css">

    <title>@ViewBag.Title</title>
</head>
<body data-col="1-column" class=" 1-column  blank-page blank-page">
    <div class="wrapper">
        <!--Registration Page Starts-->
        <section id="regestration">
            <div class="container-fluid">
                <div class="row full-height-vh">
                    <div class="col-12 d-flex align-items-center justify-content-center gradient-back-to-earth">
                        @RenderBody()
                    </div>
                </div>
            </div>
        </section>
    </div>


    <script src="~/vendors/js/core/jquery-3.3.1.min.js"></script>
    <script src="~/js/persian-datepicker.min.html"></script>
    <script src="~/vendors/js/core/popper.min.js"></script>
    <script src="~/vendors/js/core/bootstrap.min.js"></script>
    <script src="~/vendors/js/perfect-scrollbar.jquery.min.js"></script>
    <script src="~/vendors/js/prism.min.js"></script>
    <script src="~/vendors/js/jquery.matchHeight-min.js"></script>
    <script src="~/vendors/js/screenfull.min.js"></script>
    <script src="~/vendors/js/pace/pace.min.js"></script>
<script src="~/js/app-sidebar.js"></script>
<script src="~/js/sweet-alerts.js"></script>
    <script src="~/js/notification-sidebar.js"></script>

</body>
</html>
